fit_to_page_width s
goto_toc <tab>
keyboard_overview <C-f>
move_down j
move_down <space>
move_left l
move_right h
move_up k
move_up <S-<space>>
next_state <C-i>
open_document_embedded o
prev_state <C-o>
screen_down <C-d>
screen_up <C-u>
toggle_dark_mode <C-r>
toggle_window_configuration <C-p>
# open_link = f
# keyboard_smart_jump = F
# select text = v
# pp to create portal
# dp to delete portal
# P to edit portal
# "toggle_mouse_drag_mode" = "t"; <-- need to macro so that state doesn't matter
# "copy" = "y"; <-- like control+c better
